body{
    background-color: #f0f2f5;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
font-weight: lighter;
}
div.header{
    background-color: #f0f2f5;
    height: 300px;
    width: 500px;
    padding: 75px;
    margin-bottom: 200px;
    font-weight: 100;
}
.box{
    border: 0px;
    height: 320px;
    width: 370px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    padding: 10px;
    margin-left: 100px;
border-radius: 6px;
}
.info{
   border-color: grey;opacity: 0.3;
    border-radius: 6px;
    font-size: large;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 8px;

}
.login{
    font-size: 18px;
    padding: 15px;
    background-color: #1877f2;
    color: white;
    border: 0px;
    border-radius: 6px;
    padding-left: 150px;
    padding-right: 150px;
    margin: 8px;
}
.new{
    font-size: large;
    padding: 12px;
    border: 0px;
    border-radius: 6px;
    background-color: rgba(26, 201, 26, 0.945);
    color: white;
}
.forgot{
    color: #1877f2;
}
.footer{
    background-color: white
    
}